
/* -------------------       Receipt       ----------------------*/
.invoice-box{
        max-width:90%;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
        background-image: url(../images/crest_trans.png);
        background-size: 60% 80%;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 2%;
    }

    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }

    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }

    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }

    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }

    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:30px;
        color:#333;
    }

    .invoice-box table tr.information table td{
        padding-bottom:20px;
    }

    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table tr.details td{
        padding-bottom:20px;
    }

    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }

    .invoice-box table tr.item.last td{
        border-bottom:none;
    }

    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }


    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }

        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }

    /*Select to click at Worker Div*/
#FillCustomer    {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.5 ease-in;
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
    display: none;
}

#FillCustomer #inputsCustomer     {
    width: 20%;
    height: 220px;
    background-color: #fff;
    margin-top: 200px;
    margin-left: 500px;
    border:1px solid skyblue;
}

#FillCustomer #inputsCustomer input[type="text"]{

    width: 250px;
    margin: 10px;
}

#FillCustomer #inputsCustomer input[type="submit"]:hover, input[type="button"]:hover{
    border:2px solid #0078d7;

}

#FillCustomer #inputsCustomer #cancelBut2, #buy_total{
   float: right;
   margin-right: 10px;
   opacity: 0.8;

}

#FillCustomer #inputsCustomer #cancel{
   float: left;
   margin-left: 10px;
   opacity: 0.8;

}


#FillCustomer #inputsCustomer #cancelBut2:hover{
   opacity: 1;

}



@media print {
body{
	-webkit-print-color-adjust: exact;
}
}
